html {
    background-color: #f1f5f9;
    font-family: sans-serif;
  }
  
  body {
    margin: 0px;
    width: 100%;
    padding: 0px;
    line-height: 1.5;
  }

  header,
  footer {
    width: 100%;
  }

  header nav, 
  footer .footer-container {
    max-width: 90ch;
    margin: 0 auto;
    position: relative;
  }

  .content-container {
    max-width: 80ch;
    margin: 0 auto;
  }

  .content-container.full-width {
    max-width: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }

  /* nav styles */

.hamburger {
padding-right: 20px;
cursor: pointer;
}

.hamburger .line {
display: block;
width: 40px;
height: 5px;
margin-bottom: 10px;
background-color: #ff9776;
}

.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #ff9776;
    display: none;
    margin: 0;
  }
  
  .nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .nav-links a:hover, a:focus {
    background-color: #ff9776;
  }
  
  .expanded {
    display: unset;
  }

  #themeToggle {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  header nav {
    padding: 15px;
  }
  
  @media screen and (min-width: 636px) {
    .nav-links {
      display: block;
      position: static;
      width: auto;
      background: none;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      padding: 10px 0px;
    }
    .nav-links a:first-of-type {
      margin-right: auto;
    }
    .nav-links a {
      display: inline-block;
      padding: 15px 20px;
    }
    .hamburger {
        display: none;
    }
    header nav {
      padding: 0px;
    }
  
  }

  html.dark {
    background-color: #0d0950;
    color: #fff;
  }
  
  .dark .nav-links a {
    color: #fff;
  }

  /* Fullscreen Home section */

  body {
    all: unset;
   }
   
   section.header,
   .title-section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   
   section.header {
    background-color: #000;
   }
   
   section {
    display: grid;
    grid-template-columns: 1fr 1fr;
   }
   
   svg {
    width: 30px;
   }
   
   .title-section {
    background-color: whitesmoke;
    display: grid;
    place-content: center;
    gap: 12px;
    position: sticky;
    top: 0;
   }
   
   h1 {
    font-size: 24px;
   }
   
   img {
    object-fit: contain;
    width: 30vw;
   }

   img.logo {
    width: 100px;
    height: 100px;
    margin-right: auto;
   }
   
   .content-section {
    height: 100vh;
    width: 100%;
    display: grid;
    place-content: center;
   
    background-position: center;
    background-size: cover;
    font-size: 24px;
    font-family: sans-serif;
    color: white;
   }
   
   .content-section:nth-child(1) {
    background: #fd6b3c;
   }
   .content-section:nth-child(2) {
    background: #a97ff2;
   }
   .content-section:nth-child(3) {
    background: #252128;
   }
   .content-section:nth-child(4) {
    background: #839eb8;
   }
   .content-section:nth-child(5) {
    background: #2b293c;
   }
   
   /* End Fullscreen Home Section */