---
import BaseLayout from '../layouts/BaseLayout.astro';
import ProjectPost  from '../components/ProjectPost.astro';
const allPosts = await Astro.glob('../pages/projects/*.md');
const pageTitle = "Project Archive";
---

<BaseLayout pageTitle={pageTitle}>

		<p>This is where I will post about my past work projects</p>
		<ul>
			{allPosts.map((post) => <ProjectPost url={post.url} title={post.frontmatter.title} />)}
		</ul>

</BaseLayout>