---
import Social from './Social.astro';
---

<footer>
  <div class="footer-container">
    <Social platform="twitter" username="astrodotbuild" />
    <Social platform="github" username="zxtch99" />
    <Social platform="youtube" username="astrodotbuild" />
  </div>
</footer>

<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
</style>