---
import logo from '../assets/ZL1.png';
---
<div class="nav-links">
    <a href="/"><img class="logo" src="{logo}"></a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <a href="/tags/">Tags</a>
</div>